@import url('https://fonts.googleapis.com/css?family=Oswald:300');


html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
font-family: 'Oswald', sans-serif;
}

.turning {
  position:fixed;
  top: 0;
  left:0;
  height:100%;
  width:100%;
  display: none;
  background-image: url("../turnDevice.png");
  background-size: cover;
}


.loader {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ffc000;
      z-index: 999999;
      
      }
.sk-cube-grid {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 48%;
  left: 48%;
 
}


.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}


@media only screen and (min-width:480px){
    #contactArea{
    height: 100%;
     width:100%; background:url("../photos/newbgs/DesktopHDotherPages1366.png");
    background-size: cover;
              overflow: hidden;   
}
    
    #contactAreaMob{
        display: none;
    }
    
    .topleftMenu {
    top:34px;
    left:34px;
    position:fixed;
   display:block;
    width:60px;
    height:60px;
    background-color:transparent;
    border-radius:50%;
    z-index:20;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(252,223,103,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(252,223,103,0.75);
  box-shadow: 0px 0px 5px 0px rgba(252,223,103,0.75);
  }
  .menu1 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
      top:0%;
    left:0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .2s;
      
  }
  .menu2 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
      top:0%;
    left:0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .4s;
  }
  .menu3 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
      top:0%;
    left:0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .6s;  
  }
    .menu4 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
    top:0%;
    left: 0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .8s;  
  }

  .menu5 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
    top:0%;
    left: 0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) ;  
  }
  .mask2 {
    top:34px;
    left:34px;
    width:60px;
    height:60px;
    background:#fbcf1e;
    border-radius:50%;
    position:absolute;
    z-index:21;
    color: #171616;
    text-align:center;
    line-height:120px;
    cursor:pointer;
    position:fixed;
  }
   .topleftMenu .fa-3x {
        font: normal normal normal 14px/2 FontAwesome;
        font-size: 2em;
    }
    .topleftMenu .fa-2x {
        font: normal normal normal 14px/2 FontAwesome;
        font-size: 2em;
    }

    h1{
        text-align: center;
        margin-top: 24px;
        font-size: 65px;
        color: #fcbf1e;
        padding-left: 28px;
        font-family: 'Abel', 'sans-serif';
        font-weight: 100;
    }

    
.flip-container1, .flip-container2 {
    margin: 50px auto;
    
    
  /*  background: teal;*/
    width: 560px;
    height: 280px;
    transition: all 0.2s;
    perspective: 900px;
    animation-delay: 1s;
    animation-duration: 2s;
  
   
  }

  




  
  .front, .back {
    padding: 2em;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: left;
    backface-visibility: hidden;
    transform-style: preserve3d;
    transition: all 0.4s;

  }
  
  .front {
    background: #fbcf1e;
    ;
  }
  
  .back {
    background: #fbcf1f;
  }
  
  .back {
    transform: rotateY(-180deg);
  }
  
  .flipped .back {
    transform: rotateY(0deg);
  }
  
  .flipped .front {
    transform: rotateY(180deg);
  }

  .des{
    text-align: center;
    font-size: 18;
    font-family: 'Abel', 'sans-serif';
    font-weight: 100;
  }

  .heading{
      margin-top: 126px;
  }

  .contact-blocks{
      position: absolute;
      display: inline-block;
      width: 141px;
      height: 154px;
      border: 1px solid black;
      margin-top: 55px;
      margin-left: 28px;
      -ms-transform: skew(20deg, 10deg); /* IE 9 */
      -webkit-transform: skew(20deg, 10deg); /* Safari */
      transform: skew(20deg, 10deg);
      animation-delay: 3s;
  }

  .block2{
    top: 33px;
    left: 203px;

  }

  .block3{
      top:33px;
      left: 376px;
  }

  .contact-icon1 {
      display: inline-block;
      margin-left: 109px;
      margin-right: 128px;
      margin-top: 43px;
  }
  .contact-data1 {
      display: inline-block;
  }

  .contact-icon2 {
    display: inline-block;
    margin-left: 109px;
    margin-right: 128px;
    margin-top: 73px;
}
.contact-data2 {
    display: inline-block;
}

.contact-data2 p {
    font-family: 'Abel', 'sans-serif';
    font-weight: 800; 
}

.contact-data1 p {
    font-family: 'Abel', 'sans-serif';
    font-weight: 800; 
}
  
}

@media only screen and (max-width:1920px){
  #contactArea{
    height: 100%;
     width:100%; background:url("../photos/newbgs/DesktopHDotherPages.png");
    background-size: cover;
      overflow: hidden;
}
    
     #registerButton{
       display: grid;
grid-row: 1/3;
grid-column: 18/22;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    
    #register{
        grid-row:2/4;
        grid-column: 2/4;
       transform:skew(-31deg);
        background: #fcbf1e;
        border: 3px solid black;
    }
    
 
    
    #register p{
               transform:skew(31deg);
           font-size:40px
    }
    
    #register:hover{
        background:yellow;
    }
    
    #contactAreaMob{
        display: none;
    }
.topleftMenu {
    top:34px;
    left:34px;
    position:fixed;
   display:block;
    width:60px;
    height:60px;
    background-color:transparent;
    border-radius:50%;
    z-index:20;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(252,223,103,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(252,223,103,0.75);
  box-shadow: 0px 0px 5px 0px rgba(252,223,103,0.75);
  }
  .menu1 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
      top:0%;
    left:0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .2s;
      
  }
  .menu2 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
      top:0%;
    left:0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .4s;
  }
  .menu3 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
      top:0%;
    left:0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .6s;  
  }
    .menu4 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
    top:0%;
    left: 0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .8s;  
  }

  .menu5 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
    top:0%;
    left: 0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) ;  
  }
  .mask2 {
    top:34px;
    left:34px;
    width:60px;
    height:60px;
    background:#fbcf1e;
    border-radius:50%;
    position:absolute;
    z-index:21;
    color: #171616;
    text-align:center;
    line-height:120px;
    cursor:pointer;
    position:fixed;
  }
   .topleftMenu .fa-3x {
        font: normal normal normal 14px/2 FontAwesome;
        font-size: 2em;
    }
    .topleftMenu .fa-2x {
        font: normal normal normal 14px/2 FontAwesome;
        font-size: 2em;
    }

    h1{
        text-align: center;
        margin-top: 24px;
        font-size: 65px;
        color: #fcbf1e;
        padding-left: 28px;
        font-family: 'Abel', 'sans-serif';
        font-weight: 100;
    }

    
.flip-container1, .flip-container2 {
    margin: 50px auto;
    
    
  /*  background: teal;*/
    width: 560px;
    height: 280px;
    transition: all 0.2s;
    perspective: 900px;
    animation-delay: 1s;
    animation-duration: 2s;
  
   
  }

  




  
  .front, .back {
    padding: 2em;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: left;
    backface-visibility: hidden;
    transform-style: preserve3d;
    transition: all 0.4s;

  }
  
  .front {
    background: #fbcf1e;
    ;
  }
  
  .back {
    background: #fbcf1f;
  }
  
  .back {
    transform: rotateY(-180deg);
  }
  
  .flipped .back {
    transform: rotateY(0deg);
  }
  
  .flipped .front {
    transform: rotateY(180deg);
  }

  .des{
    text-align: center;
    font-size: 18;
    font-family: 'Abel', 'sans-serif';
    font-weight: 100;
  }

  .heading{
      margin-top: 126px;
  }

  .contact-blocks{
      position: absolute;
      display: inline-block;
      width: 141px;
      height: 154px;
      border: 1px solid black;
      margin-top: 55px;
      margin-left: 28px;
      -ms-transform: skew(20deg, 10deg); /* IE 9 */
      -webkit-transform: skew(20deg, 10deg); /* Safari */
      transform: skew(20deg, 10deg);
      animation-delay: 3s;
  }

  .block2{
    top: 33px;
    left: 203px;

  }

  .block3{
      top:33px;
      left: 376px;
  }

  .contact-icon1 {
      display: inline-block;
      margin-left: 109px;
      margin-right: 128px;
      margin-top: 43px;
  }
  .contact-data1 {
      display: inline-block;
  }

  .contact-icon2 {
    display: inline-block;
    margin-left: 109px;
    margin-right: 128px;
    margin-top: 73px;
}
.contact-data2 {
    display: inline-block;
}

.contact-data2 p {
    font-family: 'Abel', 'sans-serif';
    font-weight: 800; 
}

.contact-data1 p {
    font-family: 'Abel', 'sans-serif';
    font-weight: 800; 
}
  
}

@media only screen and ( max-width:480px ) and (orientation : portrait){
    #contactArea{
    display: none;  
    }
    
    .container{
        display:none;
    }
     #pageName{
        grid-column: 4/6;
        grid-row:1/4;
        width:100px;
        height:88px;
        transform: skew(-31deg) !important;
        //background:#fbcf1e;
        //border:3px solid #fbcf1e;
    }
    
    #pageName{
       color: #fbcf1e;
    margin-top: 30px;
    font-size: 65px;
    }
    
    #contactAreaMob{
        display: grid;
        height: 100%;
        width: 100%;
        grid-template-rows:repeat(17,60px);
        grid-template-columns: repeat(8,60px);
        background: url(../cont_res/mobile480new.png);
        background-size: cover;
        overflow: hidden;
    }
    
   
    
    .divSkew{
        
        height:160px;
        width:353px;
        margin-left:-60px;
        background:#fbcf1e;
        transform:skew(-35deg);
    }
    
    #emailId{
        grid-row:3/4;
        grid-column:1/5;
    }
    
    #emailIcon{
        z-index: 1;
       grid-row: 4/8;
        grid-column: 1/2;
background: url(mail.png) center no-repeat;
    background-size: auto auto;
height: 100%;
width: 100%;
background-size: 30%;
transform: skew(35deg);
margin-left: -49px;
    }
    
    #emailText{
              grid-row: 4/8;
grid-column: 5/7;
height: 100%;
width: 100%;
z-index: 1;
margin-top: -160px;
//background: red;
text-align: center;
transform: skew(35deg);


    }
    
    #emailText p:nth-child(1){
        text-align: right;
font-size: 53px;
margin-top: 9px;
    }
    
    #emailText p:nth-child(1) span{
        color:red;
    }
    
    #emailText p:nth-child(2){
       text-align: center;
margin-top: -11px;
font-size: 24px;
color: black;
margin-left: 174px;
    }
    
    #phoneId{
        grid-row:6/7;
        grid-column: 1/5;
    }
    
    #phoneIcon{
        grid-row:8/12;
        grid-column: 1/3;
        z-index: 1;
        background: url(phone.png) center no-repeat;
    background-size: auto auto;
height: 100%;
width: 100%;
background-size: 30%;
transform: skew(35deg);
margin-left: -60px;
            
    }
    
    #phoneText{
          grid-row: 8/12;
grid-column: 5/7;
height: 100%;
width: 100%;
z-index: 1;
margin-top: -160px;
//background: red;
text-align: center;
transform: skew(35deg);
    }
    
    #phoneText p:nth-child(1){
        text-align: end;
margin-top: 38px;
font-size: 19px;
margin-right: -37px;
    }
    #phoneText p:nth-child(2){
       text-align: end;
margin-top: -3px;
font-size: 19px;
margin-right: -18px;
    }
    #phoneText p:nth-child(3){
        text-align: end;
margin-top: -2px;
font-size: 19px;
margin-right: -1px;
    }
    
    #phoneText p span{
        color:white;
    }
    
      .topleftMenu {
    top:34px;
    left:34px;
    position:fixed;
   display:block;
    width:60px;
    height:60px;
    background-color:transparent;
    border-radius:50%;
    z-index:20;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(252,223,103,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(252,223,103,0.75);
  box-shadow: 0px 0px 5px 0px rgba(252,223,103,0.75);
  }
  .menu1 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
      top:0%;
    left:0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .2s;
      
  }
  .menu2 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
      top:0%;
    left:0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .4s;
  }
  .menu3 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
      top:0%;
    left:0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .6s;  
  }
    .menu4 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
    top:0%;
    left: 0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .8s;  
  }

  .menu5 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
    top:0%;
    left: 0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) ;  
  }
  .mask2 {
    top:34px;
    left:34px;
    width:60px;
    height:60px;
    background:#fbcf1e;
    border-radius:50%;
    position:absolute;
    z-index:21;
    color: #171616;
    text-align:center;
    line-height:120px;
    cursor:pointer;
    position:fixed;
  }
   .topleftMenu .fa-3x {
        font: normal normal normal 12px/2 FontAwesome;
        font-size: 2em !important;
    }
    .topleftMenu .fa-2x {
        font: normal normal normal 12px/2 FontAwesome;
        font-size: 2em !important;
    }
    
}

@media only screen and ( max-width:768px ) and (orientation : landscape){
    .turning{
        opacity:1;
        display: block;
        z-index: 100;
    }
}

@media only screen and (max-width:320px){
     #contactArea{
    display: none;  
    }
    
    .container{
        display:none;
    }
    
    
    #contactAreaMob{
        display: grid;
        height: 100%;
        width: 100%;
        grid-template-rows:repeat(17,60px);
        grid-template-columns: repeat(8,60px);
        background: url(../cont_res/mobile320new.png);
        background-size: cover;
        overflow: hidden;
    }
    
    .divSkew{
        
       height: 117px;
width: 309px;
margin-left: -60px;
background: #fbcf1e;
transform: skew(-35deg);
    }
    
    #emailId{
        grid-row:3/4;
        grid-column:1/5;
    }
    
    #emailIcon{
        z-index: 1;
       grid-row: 4/8;
        grid-column: 1/2;
background: url(mail.png) center no-repeat;
    background-size: auto auto;
height: 100%;
width: 100%;
background-size: 23%;
transform: skew(35deg);
margin-left: -39px;
    }
    
    #emailText{
              grid-row: 4/8;
grid-column: 5/7;
height: 100%;
width: 100%;
z-index: 1;
margin-top: -113px;
//background: red;
text-align: center;
transform: skew(35deg);


    }
    
    #emailText p:nth-child(1){
        text-align: right;
font-size: 31px;
margin-top: 9px;
margin-right: 49px;
    }
    
    #emailText p:nth-child(1) span{
        color: red;
font-size: 34px;
    }
    
    #emailText p:nth-child(2){
      text-align: center;
margin-top: -11px;
font-size: 24px;
color: black;
margin-left: 160px;
    }
    
    #phoneId{
        grid-row:5/6;
        grid-column: 1/5;
        margin-top: 10px;
    }
    
    #phoneIcon{
        grid-row:8/12;
        grid-column: 1/3;
        z-index: 1;
        background: url(phone.png) center no-repeat;
    background-size: auto auto;
height: 100%;
width: 100%;
background-size: 25%;
transform: skew(35deg);
margin-left: -39px;
            
    }
    
    #phoneText{
          grid-row: 8/12;
grid-column: 5/7;
height: 100%;
width: 100%;
z-index: 1;
margin-top: -160px;
//background: red;
text-align: center;
transform: skew(35deg);
    }
    
    #phoneText p:nth-child(1){
        text-align: end;
margin-top: 62px;
font-size: 16px;
margin-right: -15px;
    }
    #phoneText p:nth-child(2){
      text-align: end;
margin-top: -3px;
font-size: 16px;
margin-right: -4px;
    }
    #phoneText p:nth-child(3){
        text-align: end;
margin-top: -2px;
font-size: 16px;
margin-right: 6px;
    }
    
    #phoneText p span{
        color:white;
    }
    
      .topleftMenu {
    top:34px;
    left:34px;
    position:fixed;
   display:block;
    width:60px;
    height:60px;
    background-color:transparent;
    border-radius:50%;
    z-index:20;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(252,223,103,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(252,223,103,0.75);
  box-shadow: 0px 0px 5px 0px rgba(252,223,103,0.75);
  }
  .menu1 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
      top:0%;
    left:0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .2s;
      
  }
  .menu2 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
      top:0%;
    left:0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .4s;
  }
  .menu3 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
      top:0%;
    left:0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .6s;  
  }
    .menu4 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
    top:0%;
    left: 0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .8s;  
  }

  .menu5 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
    top:0%;
    left: 0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) ;  
  }
  .mask2 {
    top:34px;
    left:34px;
    width:60px;
    height:60px;
    background:#fbcf1e;
    border-radius:50%;
    position:absolute;
    z-index:21;
    color: #171616;
    text-align:center;
    line-height:120px;
    cursor:pointer;
    position:fixed;
  }
   .topleftMenu .fa-3x {
        font: normal normal normal 12px/2 FontAwesome;
        font-size: 2em !important;
    }
    .topleftMenu .fa-2x {
        font: normal normal normal 12px/2 FontAwesome;
        font-size: 2em !important;
    }
    
}



