.loader {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ffc000;
      z-index: 999999;
      
      }
.sk-cube-grid {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 48%;
  left: 48%;
 
}


.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}
@media only screen and (min-width:768px){
   
    #eventsPage{
        display:grid;
        grid-template-columns: repeat(21,91px);
        grid-template-rows:repeat(12,91px);
        height:100%;
        width:100%;
        background: url(photos/newbgs/DesktopHDotherPages1366.png) center no-repeat;
        background-size:cover;
    }
    #pageName{
      grid-column: 7/7;
      
    }
    
     #footerLogo{
        grid-row: 7/10;
grid-column: 9/21;
background: url("vajranew.png") center no-repeat;
    background-size: auto auto;
background-size: auto auto;
background-size: 17%;
margin-top: 92px;
    }
    
    
    #pageName p{
             font-size: 100px;
        //transform: skew(-31deg);
        color:#fbcf1e;
        font-family: 'Abel','sans-serif' !important;
        font-weight: 100;
    }
    
    
    .eventsDiv{
        width:300px;
        height:120px;
         transform: skew(-31deg) !important;
        //background:#fbcf1e;
        border:3px solid black;
    }
    .topleftMenu {
    top:34px;
    left:34px;
    position:fixed;
   display:block;
    width:60px;
    height:60px;
    background-color:transparent;
    border-radius:50%;
    z-index:20;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(252,223,103,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(252,223,103,0.75);
  box-shadow: 0px 0px 5px 0px rgba(252,223,103,0.75);
  }
  .menu1 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
      top:0%;
    left:0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .2s;
      
  }
  .menu2 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
      top:0%;
    left:0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .4s;
  }
  .menu3 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
      top:0%;
    left:0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .6s;  
  }
    .menu4 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
    top:0%;
    left: 0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .8s;  
  }

  .menu5 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
    top:0%;
    left: 0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) ;  
  }
  .mask2 {
    top:34px;
    left:34px;
    width:60px;
    height:60px;
    background:#fbcf1e;
    border-radius:50%;
    position:absolute;
    z-index:21;
    color: #171616;
    text-align:center;
    line-height:120px;
    cursor:pointer;
    position:fixed;
  }
   .topleftMenu .fa-3x {
        font: normal normal normal 14px/2 FontAwesome;
        font-size: 2em;
    }
    .topleftMenu .fa-2x {
        font: normal normal normal 14px/2 FontAwesome;
        font-size: 2em;
    }

    
    #footballDiv{
       
        grid-column: 3/9;
        grid-row:3/5;
            
    }
    
    #basketballDiv{
        grid-column: 7/13;
        grid-row:3/5;
        margin-left:-45px;
    }
    
    #cricketDiv{
        grid-column:11/17;
        grid-row:3/5;
        margin-left:-90px;
    }
    
    #badmintonDiv{
        grid-column:4/10;
        grid-row:5/7;
        margin-top:-50px;
    }
    
    #volleyballDiv{
        grid-row:5/7;
       margin-top:-50px;
        grid-column:8/14;
      margin-left:-46px;

    }
    
    #chessDiv{
        grid-row:7/9;
        grid-column:5/11;
        margin-top:-100px;
    }
    
    #tabletennisDiv{
        grid-row:7/9;
        grid-column:9/15;
        margin-top:-100px;
        margin-left: -45px;
    }
    
    
       #basketballDiv #eventName{
      opacity:0;
        height: 100%;
        width:100%;
        margin-top:-121px;
        z-index: 1;
        background-color: rgba(251,207,30,0.6);
      
    }
    
     #footballDiv #eventName{
      opacity:0;
        height: 100%;
        width:100%;
        margin-top:-121px;
        z-index: 1;
        background-color: rgba(251,207,30,0.6);
      
    }
    
     #cricketDiv #eventName{
      opacity:0;
        height: 100%;
        width:100%;
        margin-top:-121px;
        z-index: 1;
        background-color: rgba(251,207,30,0.6);
      
    }
    
     #badmintonDiv #eventName{
      opacity:0;
        height: 100%;
        width:100%;
        margin-top:-121px;
        z-index: 1;
        background-color: rgba(251,207,30,0.6);
      
    }
    
     #volleyballDiv #eventName{
      opacity:0;
        height: 100%;
        width:100%;
        margin-top:-121px;
        z-index: 1;
        background-color: rgba(251,207,30,0.6);
      
    }
    
     #chessDiv #eventName{
      opacity:0;
        height: 100%;
        width:100%;
        margin-top:-121px;
        z-index: 1;
        background-color: rgba(251,207,30,0.6);
      
    }
    
     #tabletennisDiv #eventName{
      opacity:0;
        height: 100%;
        width:100%;
        margin-top:-121px;
        z-index: 1;
        background-color: rgba(251,207,30,0.6);
      
    }
    
    #footballDiv #eventName p{
        text-align: center;
       font-size: 50px;
        padding-top: 19px;
        color:black;
        padding-right:30px;
        transform: skew(31deg);
       
        
    }
    
     #basketballDiv #eventName p{
        text-align: center;
       font-size: 50px;
        padding-top: 19px;
        color:black;
        padding-right:30px;
        transform: skew(31deg);
       
        
    }
    footballDiv #eventName p{
         text-align: center;
       font-size: 50px;
        padding-top: 19px;
        color:black;
        padding-right:30px;
        transform: skew(31deg);
    }
     #cricketDiv #eventName p{
        text-align: center;
       font-size: 50px;
        padding-top: 19px;
        color:black;
        padding-right:19px;
        transform: skew(31deg);
       
        
    }
     #badmintonDiv #eventName p{
        text-align: center;
       font-size: 50px;
        padding-top: 19px;
        color:black;
        padding-right:30px;
        transform: skew(31deg);
       
        
    }
     #volleyballDiv #eventName p{
        text-align: center;
       font-size: 50px;
        padding-top: 19px;
        color:black;
        padding-right:30px;
        transform: skew(31deg);
       
        
    }
     #chessDiv #eventName p{
        text-align: center;
       font-size: 50px;
        padding-top: 19px;
        color:black;
        padding-right:30px;
        transform: skew(31deg);
       
        
    }
     #tabletennisDiv #eventName p{
        text-align: center;
       font-size: 50px;
        padding-top: 19px;
        color:black;
        padding-right:30px;
        transform: skew(31deg);
       
        
    }

   
    
    #footballDiv #eventName:hover{
      opacity:1;
       
    }
    
    
    #cricketDiv #eventName:hover{
      opacity:1;
       
    }
    
    #volleyballDiv #eventName:hover{
      opacity:1;
       
    }
    #chessDiv #eventName:hover{
      opacity:1;
       
    }
    #tabletennisDiv #eventName:hover{
      opacity:1;
       
    }
    #badmintonDiv #eventName:hover{
      opacity:1;
       
    }
    #basketballDiv #eventName:hover{
        opacity: 1;
    }
    
    

     
    
 #basketballimg{
        height:100%;
        width:100%;
        background: url("photos/eventsPic/basketball.png") center;
        z-index: -1;
    }
 #cricketImg{
        height:100%;
        width:100%;
        background: url("photos/eventsPic/cricket.png") center no-repeat;
        z-index: -1;
         background-size:100%;
    }
 #footballImg{
        height:100%;
        width:100%;
        background: url(photos/eventsPic/football.png) center no-repeat;
        background-size:100%;
        z-index: -1;
        
        //transform: skew(31deg);
    }
 #badmintonImg{
        height:100%;
        width:100%;
        background: url("photos/eventsPic/badminton.png") center no-repeat;
        z-index: -1;
         background-size:100%;
    }
  #volleyballimg{
        height:100%;
        width:100%;
        background: url("photos/eventsPic/volleyball.png") center no-repeat;
         background-size:100%;
        z-index: -1;
    }
  #tableTennisImg{
       height:100%;
        width:100%;
        background: url("photos/eventsPic/tabletennis.png") center no-repeat;
        z-index: -1; 
         background-size:100%;
    }
  #chessImg{
        height:100%;
        width:100%;
        background: url("photos/eventsPic/chess.png") center no-repeat;
         background-size:100%;
        z-index: -1;  
    }
   
}


@media only screen and (min-width:1920px){
   fadeInLeft:nth-child(1){
    animation-delay:0.3;
}
fadeInLeft:nth-child(2){
    animation-delay:0.6;
}
fadeInLeft:nth-child(3){
    animation-delay:0.9;
}
fadeInLeft:nth-child(4){
    animation-delay:0.12;
}
fadeInLeft:nth-child(5){
    animation-delay:0.15;
}
fadeInLeft:nth-child(6){
    animation-delay:0.18;
}
fadeInLeft:nth-child(7){
    animation-delay:0.21;
}

    #eventsPage{
        display:grid;
        grid-template-columns: repeat(21,91px);
        grid-template-rows:repeat(12,91px);
        height:100%;
        width:100%;
        background: url(photos/newbgs/DesktopHDotherPages.png) center no-repeat;
        background-size:cover;
        overflow: hidden;

    }
    
    #registerButton{
       display: grid;
grid-row: 1/3;
grid-column: 18/22;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    
   
    #footerLogo{
      background-size: 77%;
margin-top: -150px;
grid-row: 11/13;
grid-column: 19/22;
background: url("vajranew.png") center no-repeat;
    background-size: auto auto;
background-size: auto auto;
background-size: auto auto;
background-size: 105%;
margin-left: 79px;
    }
    
    #pageName{
      grid-column: 10/13;
        grid:1/3;
    }
    
    #pageName p{
        font-size: 100px;
        //transform: skew(-31deg);
        color:#fbcf1e;
        font-family: 'Abel','sans-serif' !important;
        font-weight: 100;
    }
    
    .eventsDiv{
        width:400px;
        height:180px;
        transform: skew(-31deg) !important;
        //background:#fbcf1e;
        border:3px solid black;
    }
    
    .topleftMenu {
    top:34px;
    left:34px;
    position:fixed;
   display:block;
    width:60px;
    height:60px;
    background-color:transparent;
    border-radius:50%;
    z-index:20;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(252,223,103,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(252,223,103,0.75);
  box-shadow: 0px 0px 5px 0px rgba(252,223,103,0.75);
  }
  .menu1 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
      top:0%;
    left:0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .2s;
      
  }
  .menu2 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
      top:0%;
    left:0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .4s;
  }
  .menu3 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
      top:0%;
    left:0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .6s;  
  }
    .menu4 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
    top:0%;
    left: 0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .8s;  
  }

  .menu5 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
    top:0%;
    left: 0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) ;  
  }
  .mask2 {
    top:34px;
    left:34px;
    width:60px;
    height:60px;
    background:#fbcf1e;
    border-radius:50%;
    position:absolute;
    z-index:21;
    color: #171616;
    text-align:center;
    line-height:120px;
    cursor:pointer;
    position:fixed;
  }
   .topleftMenu .fa-3x {
        font: normal normal normal 14px/2 FontAwesome;
        font-size: 2em;
    }
    .topleftMenu .fa-2x {
        font: normal normal normal 14px/2 FontAwesome;
        font-size: 2em;
    }

    
    @keyframes movePic{
        0%{
            background-size: 100%;
            opacity: 0.5;
        }
        50%{
            background-size:120%;
            opacity: 0.6
        }
        100%{
            background-size:140%;
            opacity: 1;
        }
    }
    
    #footballDiv{
       
        grid-column: 4/10;
        grid-row:3/5;
            background: #fbcf1e;
    }
    
    #footballImg{
        height:100%;
        width:100%;
        background: url(photos/eventsPic/football.png) center no-repeat;
        background-size:100%;
        z-index: -1;
        
        //transform: skew(31deg);
    }
    

    #basketballDiv{
      grid-column:9/15;
        grid-row:3/5;
        margin-left:-35px;
        
    }
    
    #basketballDiv #eventName{
      opacity:0;
        height: 100%;
        width:100%;
        margin-top:-180px;
        z-index: 1;
        background-color: rgba(251,207,30,0.6);
      
    }
    
     #footballDiv #eventName{
      opacity:0;
        height: 100%;
        width:100%;
        margin-top:-180px;
        z-index: 1;
        background-color: rgba(251,207,30,0.6);
      
    }
    
     #cricketDiv #eventName{
      opacity:0;
        height: 100%;
        width:100%;
        margin-top:-180px;
        z-index: 1;
        background-color: rgba(251,207,30,0.6);
      
    }
    
     #badmintonDiv #eventName{
      opacity:0;
        height: 100%;
        width:100%;
        margin-top:-180px;
        z-index: 1;
        background-color: rgba(251,207,30,0.6);
      
    }
    
     #volleyballDiv #eventName{
      opacity:0;
        height: 100%;
        width:100%;
        margin-top:-180px;
        z-index: 1;
        background-color: rgba(251,207,30,0.6);
      
    }
    
     #chessDiv #eventName{
      opacity:0;
        height: 100%;
        width:100%;
        margin-top:-180px;
        z-index: 1;
        background-color: rgba(251,207,30,0.6);
      
    }
    
     #tabletennisDiv #eventName{
      opacity:0;
        height: 100%;
        width:100%;
        margin-top:-180px;
        z-index: 1;
        background-color: rgba(251,207,30,0.6);
      
    }
    
    #basketBallimg{
        height:100%;
        width:100%;
        background: url("photos/eventsPic/basketball.png") center;
        z-index: -1;
    }
  
    
    #basketballDiv #eventName:hover{
      opacity:1;
       
    }
    #footballDiv #eventName:hover{
      opacity:1;
       
    }
    
    #cricketDiv #eventName:hover{
      opacity:1;
       
    }
    
    #volleyballDiv #eventName:hover{
      opacity:1;
       
    }
    #chessDiv #eventName:hover{
      opacity:1;
       
    }
    #tabletennisDiv #eventName:hover{
      opacity:1;
       
    }
    #badmintonDiv #eventName:hover{
      opacity:1;
       
    }
    
    
      
   
    
     #footballDiv #eventName p{
        text-align: center;
       font-size: 50px;
        padding-top: 50px;
        color:black;
        padding-right:44px;
        transform: skew(31deg);
       
        
    }
    
     #basketballDiv #eventName p{
        text-align: center;
       font-size: 50px;
        padding-top: 50px;
        color:black;
        padding-right:44px;
        transform: skew(31deg);
       
        
    }
    
     #cricketDiv #eventName p{
        text-align: center;
       font-size: 50px;
        padding-top: 50px;
        color:black;
        padding-right:44px;
        transform: skew(31deg);
       
        
    }
     #badmintonDiv #eventName p{
        text-align: center;
       font-size: 50px;
        padding-top: 50px;
        color:black;
        padding-right:44px;
        transform: skew(31deg);
       
        
    }
     #volleyballDiv #eventName p{
        text-align: center;
       font-size: 50px;
        padding-top: 50px;
        color:black;
        padding-right:44px;
        transform: skew(31deg);
       
        
    }
     #chessDiv #eventName p{
        text-align: center;
       font-size: 50px;
        padding-top: 50px;
        color:black;
        padding-right:44px;
        transform: skew(31deg);
       
        
    }
     #tabletennisDiv #eventName p{
        text-align: center;
       font-size: 50px;
        padding-top: 50px;
        color:black;
        padding-right:44px;
        transform: skew(31deg);
       
        
    }
    
    
    #cricketDiv{
        grid-column: 14/20;
        grid-row:3/5;
                margin-left:-69px;

    }
    
    #cricketImg{
        height:100%;
        width:100%;
        background: url("photos/eventsPic/cricket.png") center no-repeat;
        z-index: -1;
         background-size:100%;
    }
    
    #badmintonDiv{
        grid-column:6/12;
        grid-row:5/7;
        margin-top:15px;
    }
    
    #badmintonImg{
        height:100%;
        width:100%;
        background: url("photos/eventsPic/badminton.png") center no-repeat;
        z-index: -1;
         background-size:100%;
    }
    
    #volleyballDiv{
        grid-column:11/17;
        grid-row:5/7;
        margin-left:-32px;
                margin-top:15px;


    }
    
    #volleyballimg{
        height:100%;
        width:100%;
        background: url("photos/eventsPic/volleyball.png") center no-repeat;
         background-size:100%;
        z-index: -1;
    }
    
    #tabletennisDiv{
     grid-row:7/9;
    grid-column: 7/13;
    margin-top:30px;
                margin-left:-45px;


    }
    
    #tableTennisImg{
       height:100%;
        width:100%;
        background: url("photos/eventsPic/tabletennis.png") center no-repeat;
        z-index: -1; 
         background-size:100%;
    }
    
    #chessDiv{
      grid-row:7/9; 
        grid-column: 12/18;
        margin-top:30px;
               margin-left:-79px;

    }
    
    #chessImg{
        height:100%;
        width:100%;
        background: url("photos/eventsPic/chess.png") center no-repeat;
         background-size:100%;
        z-index: -1;  
    }
    
    
}


@media only screen and (max-width : 768px) {

#eventsPage{
            display: grid;
    grid-template-columns: repeat(6,80px);
    grid-template-rows: repeat(13,80px);
    height: 100%;
    width: 100%;
    background: url(photos/mobilenew2.png) center no-repeat;
    background-size: cover;
    overflow: hidden;
        

    }
    
    #pageName{
        grid-column: 3/6;
        grid-row:1/4;
        width:100px;
        height:88px;
        transform: skew(-31deg) !important;
        //background:#fbcf1e;
        //border:3px solid #fbcf1e;
    }
    
    #pageName{
       color: #fbcf1e;
    margin-top: 30px;
    font-size: 65px;
    }
    .eventsDiv{
       width: 126px;
height: 88px;
transform: skew(-20deg);
//background: #fbcf1e;
border: 2px solid black;
margin-left: -26px;
    }
    
    #footballDiv{
        grid-row:3/5;
        grid-column: 2/3;
    }
    

    #basketBallDiv{
       grid-column: 4/6;
grid-row: 3/5;
margin-left: -45px;
    }
    
    
    #cricketDiv{
          grid-column: 2/4;
grid-row: 4/6;
margin-top: 19px;
    }
    
    #badmintonDiv{
     grid-column: 4/6;
grid-row: 4/6;
margin-top: 19px;
margin-left: -47px;
    }
    
    #volleyballDiv{
        grid-column: 2/4;
grid-row: 5/7;
margin-top: 38px;
    }
    
    #chessDiv{
      grid-column: 4/6;
grid-row: 5/7;
margin-top: 38px;
margin-left: -47px;
    }
    
    #tabletennisDiv{
          width: 206px;
grid-column: 2/6;
grid-row: 7/9;
margin-top: -25px;
    }
    
     #basketballDiv #eventName{
      
        height: 100%;
        width:100%;
        margin-top:-88px;
        z-index: 1;
        background-color: rgba(23,22,22,0.6);
      
    }
    
     #footballDiv #eventName{
     
        height: 100%;
        width:100%;
        margin-top:-88px;
        z-index: 1;
        background-color: rgba(23,22,22,0.6);
      
    }
    
     #cricketDiv #eventName{
      
        height: 100%;
        width:100%;
        margin-top:-88px;
        z-index: 1;
        background-color: rgba(23,22,22,0.6);
      
    }
    
     #badmintonDiv #eventName{
   
        height: 100%;
        width:100%;
        margin-top:-88px;
        z-index: 1;
        background-color: rgba(23,22,22,0.6);
      
    }
    
     #volleyballDiv #eventName{
      
        height: 100%;
        width:100%;
        margin-top:-88px;
        z-index: 1;
        background-color: rgba(23,22,22,0.6);
      
    }
    
     #chessDiv #eventName{
      
        height: 100%;
        width:100%;
        margin-top:-88px;
        z-index: 1;
        background-color: rgba(23,22,22,0.6);
      
    }
    
     #tabletennisDiv #eventName{
      
        height: 100%;
        width:100%;
        margin-top:-88px;
        z-index: 1;
        background-color: rgba(23,22,22,0.6);
      
    }
    
    #tabletennisDiv #eventName p{
       text-align: center;
    font-size: 23px;
   color: white;
   margin-left: 13px;
        //transform: skew(-31deg);
        padding-top:22px;
    }
     #chessDiv #eventName p{
       text-align: center;
    font-size: 23px;
   color: white;
   margin-left: 13px;
        //transform: skew(-31deg);
        padding-top:22px;
    }
     #volleyballDiv #eventName p{
       text-align: center;
    font-size: 23px;
   color: white;
   margin-left: 13px;
        //transform: skew(-31deg);
        padding-top:22px;
    }
     #badmintonDiv #eventName p{
       text-align: center;
    font-size: 23px;
   color: white;
   margin-left: 13px;
        //transform: skew(-31deg);
        padding-top:22px;
    }
     #cricketDiv #eventName p{
       text-align: center;
    font-size: 23px;
   color: white;
   margin-left: 13px;
        //transform: skew(-31deg);
        padding-top:22px;
    }
     #basketballDiv #eventName p{
       text-align: center;
    font-size: 23px;
   color: white;
   margin-left: 13px;
        //transform: skew(-31deg);
        padding-top:22px;
    }
     #footballDiv #eventName p{
       text-align: center;
    font-size: 23px;
   color: white;
   margin-left: 13px;
        //transform: skew(-31deg);
        padding-top:22px;
    }
    
    
    
    #basketballimg{
        height:100%;
        width:100%;
        background: url("photos/eventsPic/basketball.png") center;
        z-index: -1;
    }
 #cricketImg{
        height:100%;
        width:100%;
        background: url("photos/eventsPic/cricket.png") center no-repeat;
        z-index: -1;
        background-size:cover;
    }
 #footballImg{
        height:100%;
        width:100%;
        background: url(photos/eventsPic/football.png) center no-repeat;
        background-size:cover;
        z-index: -1;
        
        //transform: skew(31deg);
    }
 #badmintonImg{
        height:100%;
        width:100%;
        background: url("photos/eventsPic/badminton.png") center no-repeat;
        z-index: -1;
        background-size:cover;
    }
  #volleyballimg{
        height:100%;
        width:100%;
        background: url("photos/eventsPic/volleyball.png") center no-repeat;
        background-size:cover;
        z-index: -1;
    }
  #tableTennisImg{
       height:100%;
        width:100%;
        background: url("photos/eventsPic/tabletennis.png") center no-repeat;
        z-index: -1; 
        background-size:cover;
    }
  #chessImg{
        height:100%;
        width:100%;
        background: url("photos/eventsPic/chess.png") center no-repeat;
        background-size:cover;
        z-index: -1;  
    }
    
      .topleftMenu {
    top:34px;
    left:34px;
    position:fixed;
   display:block;
    width:60px;
    height:60px;
    background-color:transparent;
    border-radius:50%;
    z-index:20;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(252,223,103,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(252,223,103,0.75);
  box-shadow: 0px 0px 5px 0px rgba(252,223,103,0.75);
  }
  .menu1 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
      top:0%;
    left:0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .2s;
      
  }
  .menu2 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
      top:0%;
    left:0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .4s;
  }
  .menu3 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
      top:0%;
    left:0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .6s;  
  }
    .menu4 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
    top:0%;
    left: 0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .8s;  
  }

  .menu5 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
    top:0%;
    left: 0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) ;  
  }
  .mask2 {
    top:34px;
    left:34px;
    width:60px;
    height:60px;
    background:#fbcf1e;
    border-radius:50%;
    position:absolute;
    z-index:21;
    color: #171616;
    text-align:center;
    line-height:120px;
    cursor:pointer;
    position:fixed;
  }
   .topleftMenu .fa-3x {
        font: normal normal normal 12px/2 FontAwesome;
        font-size: 2em !important;
    }
    .topleftMenu .fa-2x {
        font: normal normal normal 12px/2 FontAwesome;
        font-size: 2em !important;
    }
    
    
}


@media only screen and (max-width : 360px) {

    #eventsPage{
        display:grid;
        grid-template-columns: repeat(6,80px);
        grid-template-rows:repeat(13,80px);
        height:100%;
        width:100%;
        background: url(photos/mobilenew3.png) center no-repeat;
        background-size:cover;
        overflow-x: hidden;

    }
    
    #pageName{
        grid-column: 3/6;
        grid-row:1/4;
        width:100px;
        height:88px;
        transform: skew(-31deg);
        //background:#fbcf1e;
        //border:3px solid #fbcf1e;
    }
    
    #pageName{
    color:#fbcf1e;
    margin-top:30px;
        font-size: 45px;
    }
    .eventsDiv{
        width:100px;
        height:70px;
        transform: skew(-31deg) !important;
        //background:#fbcf1e;
        border:2px solid black;
        
    }
    
    #footballDiv{
        grid-row:3/5;
        grid-column: 2/3;
    }
    
    #basketBallDiv{
        grid-column: 4/6;
        grid-row:3/5;
        margin-left: -78px;
    }
    
    
    #cricketDiv{
        grid-column:2/4;
        grid-row:4/6;
        margin-top: -20px;
    }
    
    #badmintonDiv{
        grid-column:4/6;
        grid-row:4/6;
        margin-top: -20px;
        margin-left:-78px;
    }
    
    #volleyballDiv{
        grid-column:2/4;
        grid-row:5/7;
        margin-top:-39px;
    }
    
    #chessDiv{
        grid-column:4/6;
        grid-row:5/7;
        margin-top:-39px;
        margin-left:-78px;
    }
    
    #tabletennisDiv{
        width:150px;
        grid-column: 2/6;
        grid-row:7/9;
        margin-top:-137px;
    

    }
    
     #basketballDiv #eventName{
      
     height: 100%;
width: 100%;
margin-top: -70px;
z-index: 1;
background-color: rgba(23,22,22,0.6);
      
    }
    
     #footballDiv #eventName{
     
      height: 100%;
width: 100%;
margin-top: -70px;
z-index: 1;
background-color: rgba(23,22,22,0.6);
      
    }
    
     #cricketDiv #eventName{
      
height: 100%;
width: 100%;
margin-top: -70px;
z-index: 1;
background-color: rgba(23,22,22,0.6);
      
    }
    
     #badmintonDiv #eventName{
   
     height: 100%;
width: 100%;
margin-top: -70px;
z-index: 1;
background-color: rgba(23,22,22,0.6);
      
    }
    
     #volleyballDiv #eventName{
      
        height: 100%;
width: 100%;
margin-top: -70px;
z-index: 1;
background-color: rgba(23,22,22,0.6);
      
    }
    
     #chessDiv #eventName{
      
height: 100%;
width: 100%;
margin-top: -70px;
z-index: 1;
background-color: rgba(23,22,22,0.6);
    }
    
     #tabletennisDiv #eventName{
      
        height: 100%;
width: 100%;
margin-top: -70px;
z-index: 1;
background-color: rgba(23,22,22,0.6);
    }
    
    #tabletennisDiv #eventName p{
        text-align: center;
font-size: 17px;
color: white;
margin-left: -13px;
transform: skew(31deg);
padding-top: 21px;
    }
     #chessDiv #eventName p{
        text-align: center;
font-size: 17px;
color: white;
margin-left: -13px;
transform: skew(31deg);
padding-top: 21px;
    }
     #volleyballDiv #eventName p{
      text-align: center;
font-size: 17px;
color: white;
margin-left: -13px;
transform: skew(31deg);
padding-top: 21px;
    }
     #badmintonDiv #eventName p{
         text-align: center;
font-size: 17px;
color: white;
margin-left: -13px;
transform: skew(31deg);
padding-top: 21px;
    }
     #cricketDiv #eventName p{
         text-align: center;
font-size: 17px;
color: white;
margin-left: -13px;
transform: skew(31deg);
padding-top: 21px;
    }
     #basketballDiv #eventName p{
      text-align: center;
font-size: 17px;
color: white;
margin-left: -13px;
transform: skew(31deg);
padding-top: 21px;
    }
     #footballDiv #eventName p{
       text-align: center;
font-size: 17px;
color: white;
margin-left: -13px;
transform: skew(31deg);
padding-top: 21px;
    }
    
 .topleftMenu {
    top:34px;
    left:34px;
    position:fixed;
   display:block;
    width:45px;
    height:45px;
    background-color:transparent;
    border-radius:50%;
    z-index:20;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(252,223,103,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(252,223,103,0.75);
  box-shadow: 0px 0px 5px 0px rgba(252,223,103,0.75);
  }
  .menu1 {
    width:45px;
    height:45px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
      top:0%;
    left:0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .2s;
      
  }
  .menu2 {
    width:45px;
    height:45px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
      top:0%;
    left:0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .4s;
  }
  .menu3 {
    width:45px;
    height:45px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
      top:0%;
    left:0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .6s;  
  }
    .menu4 {
    width:45px;
    height:45px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
    top:0%;
    left: 0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .8s;  
  }

  .menu5 {
    width:45px;
    height:45px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
    top:0%;
    left: 0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) ;  
  }
  .mask2 {
    top:34px;
    left:34px;
    width:45px;
    height:45px;
    background:#fbcf1e;
    border-radius:50%;
    position:absolute;
    z-index:21;
    color: #171616;
    text-align:center;
    line-height:120px;
    cursor:pointer;
    position:fixed;
  }
   .topleftMenu .fa-3x {
        font: normal normal normal 12px/2 FontAwesome;
        font-size: 23px !important;
    }
    .topleftMenu .fa-2x {
        font: normal normal normal 12px/2 FontAwesome;
        font-size: 23px !important;
    }  
    
}


}

  