

@media only screen and (min-width:480px){
   
    #eventsPage{
        display:grid;
        grid-template-columns: repeat(21,91px);
        grid-template-rows:repeat(12,91px);
        height:100%;
        width:100%;
        background: url(photos/newbgs/DesktopHDotherPages1366.png) center no-repeat;
        background-size:cover;
    }
    
    
    .eventsDiv{
        width:300px;
        height:120px;
         transform: skew(-31deg) !important;
        //background:#fbcf1e;
        border:2px solid #fbcf1e;
    }
    .topleftMenu {
    top:34px;
    left:34px;
    position:fixed;
   display:block;
    width:60px;
    height:60px;
    background-color:transparent;
    border-radius:50%;
    z-index:20;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(252,223,103,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(252,223,103,0.75);
  box-shadow: 0px 0px 5px 0px rgba(252,223,103,0.75);
  }
  .menu1 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
      top:0%;
    left:0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .2s;
      
  }
  .menu2 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
      top:0%;
    left:0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .4s;
  }
  .menu3 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
      top:0%;
    left:0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .6s;  
  }
    .menu4 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
    top:0%;
    left: 0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .8s;  
  }

  .menu5 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
    top:0%;
    left: 0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) ;  
  }
  .mask2 {
    top:34px;
    left:34px;
    width:60px;
    height:60px;
    background:#fbcf1e;
    border-radius:50%;
    position:absolute;
    z-index:21;
    color: #171616;
    text-align:center;
    line-height:120px;
    cursor:pointer;
    position:fixed;
  }
   .topleftMenu .fa-3x {
        font: normal normal normal 14px/2 FontAwesome;
        font-size: 2em;
    }
    .topleftMenu .fa-2x {
        font: normal normal normal 14px/2 FontAwesome;
        font-size: 2em;
    }

    
    #footballDiv{
       
        grid-column: 3/9;
        grid-row:3/5;
            
    }
    
    #basketballDiv{
        grid-column: 7/13;
        grid-row:3/5;
        margin-left:-45px;
    }
    
    #cricketDiv{
        grid-column:11/17;
        grid-row:3/5;
        margin-left:-90px;
    }
    
    #badmintonDiv{
        grid-column:4/10;
        grid-row:5/7;
        margin-top:-50px;
    }
    
    #volleyballDiv{
        grid-row:5/7;
       margin-top:-50px;
        grid-column:8/14;
      margin-left:-46px;

    }
    
    #chessDiv{
        grid-row:7/9;
        grid-column:5/11;
        margin-top:-100px;
    }
    
    #tabletennisDiv{
        grid-row:7/9;
        grid-column:9/15;
        margin-top:-100px;
        margin-left: -45px;
    }
}


@media only screen and (min-width:1920px){
   
    #eventsPage{
        display:grid;
        grid-template-columns: repeat(21,91px);
        grid-template-rows:repeat(12,91px);
        height:100%;
        width:100%;
        background: url(photos/newbgs/DesktopHDotherPages.png) center no-repeat;
        background-size:cover;

    }
    
    .eventsDiv{
        width:400px;
        height:180px;
        transform: skew(-31deg) !important;
        //background:#fbcf1e;
        border:2.5px solid #fbcf1e;
    }
    
    .topleftMenu {
    top:34px;
    left:34px;
    position:fixed;
   display:block;
    width:60px;
    height:60px;
    background-color:transparent;
    border-radius:50%;
    z-index:20;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(252,223,103,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(252,223,103,0.75);
  box-shadow: 0px 0px 5px 0px rgba(252,223,103,0.75);
  }
  .menu1 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
      top:0%;
    left:0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .2s;
      
  }
  .menu2 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
      top:0%;
    left:0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .4s;
  }
  .menu3 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
      top:0%;
    left:0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .6s;  
  }
    .menu4 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
    top:0%;
    left: 0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .8s;  
  }

  .menu5 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
    top:0%;
    left: 0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) ;  
  }
  .mask2 {
    top:34px;
    left:34px;
    width:60px;
    height:60px;
    background:#fbcf1e;
    border-radius:50%;
    position:absolute;
    z-index:21;
    color: #171616;
    text-align:center;
    line-height:120px;
    cursor:pointer;
    position:fixed;
  }
   .topleftMenu .fa-3x {
        font: normal normal normal 14px/2 FontAwesome;
        font-size: 2em;
    }
    .topleftMenu .fa-2x {
        font: normal normal normal 14px/2 FontAwesome;
        font-size: 2em;
    }

    
    @keyframes movePic{
        0%{
            background-size: 100%;
            opacity: 0.5;
        }
        50%{
            background-size:120%;
            opacity: 0.6
        }
        100%{
            background-size:140%;
            opacity: 1;
        }
    }
    
    #footballDiv{
       
        grid-column: 4/10;
        grid-row:3/5;
            
    }
    
    #footballDiv img{
        width:400px;
        height:180px;
    }
    
    #basketballDiv img{
        width:400px;
        height:180px;
        //transform: skew(-31deg);     
    }
    
   
    
    
    #basketballDiv{
      grid-column:9/15;
        grid-row:3/5;
        margin-left:-35px;
        
    }
    
    #basketBallDiv #eventName{
      opacity:0;
        height: 100%;
        width:100%;
        margin-top:-180px;
        z-index: 1;
        background-color: rgba(251,207,30,0.4);
      
    }
    #eventImage{
        height:100%;
        width:100%;
        background: url(events/BASKETBALL.png) center;
        z-index: -1;
        animation: movePic 5s infinite alternate;
    }
  
    
    #basketBallDiv #eventName:hover{
      opacity:1;
       
    }
    
      
   
    
     #basketBallDiv #eventName p{
        text-align: center;
       font-size: 50px;
        padding-top: 50px;
        color:black;
        padding-right:44px;
        transform: skew(31deg);
       
        
    }
    
    
    #cricketDiv{
        grid-column: 14/20;
        grid-row:3/5;
                margin-left:-69px;

    }
    
    #badmintonDiv{
        grid-column:6/12;
        grid-row:5/7;
        margin-top:15px;
    }
    
    #volleyballDiv{
        grid-column:11/17;
        grid-row:5/7;
        margin-left:-32px;
                margin-top:15px;


    }
    
    #tabletennisDiv{
     grid-row:7/9;
    grid-column: 7/13;
    margin-top:30px;
                margin-left:-45px;


    }
    
    #chessDiv{
      grid-row:7/9; 
        grid-column: 12/18;
        margin-top:30px;
               margin-left:-79px;

    }
    
    
}


@media only screen and (max-width : 480px) {

#eventsPage{
            display: grid;
    grid-template-columns: repeat(6,80px);
    grid-template-rows: repeat(13,80px);
    height: 100%;
    width: 100%;
    background: url(photos/mobilenew2.png) center no-repeat;
    background-size: cover;
    overflow: hidden;
        

    }
    
    #pageName{
        grid-column: 3/6;
        grid-row:1/4;
        width:100px;
        height:88px;
        transform: skew(-31deg) !important;
        //background:#fbcf1e;
        //border:3px solid #fbcf1e;
    }
    
    #pageName{
       color: #fbcf1e;
    margin-top: 30px;
    font-size: 65px;
    }
    .eventsDiv{
        width:100px;
        height:88px;
        transform: skew(-31deg);
        //background:#fbcf1e;
        border:2px solid #fbcf1e;
    }
    
    #footballDiv{
        grid-row:3/5;
        grid-column: 2/3;
    }
    
    #basketBallDiv{
        grid-column: 4/6;
        grid-row:3/5;
        margin-left: -45px;
    }
    
    
    #cricketDiv{
          grid-column: 2/4;
    grid-row: 4/6;
    margin-top: -7px;
    }
    
    #badmintonDiv{
     grid-column: 4/6;
    grid-row: 4/6;
    margin-top: -6px;
    margin-left: -45px;
    }
    
    #volleyballDiv{
           grid-column: 2/4;
    grid-row: 5/7;
    margin-top: -14px;
    }
    
    #chessDiv{
        grid-column: 4/6;
    grid-row: 5/7;
    margin-top: -13px;
    margin-left: -45px;
    }
    
    #tabletennisDiv{
            width: 150px;
    grid-column: 2/6;
    grid-row: 7/9;
    margin-top: -99px;

    }
    
    
      .topleftMenu {
    top:34px;
    left:34px;
    position:fixed;
   display:block;
    width:60px;
    height:60px;
    background-color:transparent;
    border-radius:50%;
    z-index:20;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(252,223,103,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(252,223,103,0.75);
  box-shadow: 0px 0px 5px 0px rgba(252,223,103,0.75);
  }
  .menu1 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
      top:0%;
    left:0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .2s;
      
  }
  .menu2 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
      top:0%;
    left:0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .4s;
  }
  .menu3 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
      top:0%;
    left:0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .6s;  
  }
    .menu4 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
    top:0%;
    left: 0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .8s;  
  }

  .menu5 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
    top:0%;
    left: 0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) ;  
  }
  .mask2 {
    top:34px;
    left:34px;
    width:60px;
    height:60px;
    background:#fbcf1e;
    border-radius:50%;
    position:absolute;
    z-index:21;
    color: #171616;
    text-align:center;
    line-height:120px;
    cursor:pointer;
    position:fixed;
  }
   .topleftMenu .fa-3x {
        font: normal normal normal 12px/2 FontAwesome;
        font-size: 2em !important;
    }
    .topleftMenu .fa-2x {
        font: normal normal normal 12px/2 FontAwesome;
        font-size: 2em !important;
    }
    
    
}


@media only screen and (max-width : 320px) {

    #eventsPage{
        display:grid;
        grid-template-columns: repeat(6,80px);
        grid-template-rows:repeat(13,80px);
        height:100%;
        width:100%;
        background: url(photos/mobilenew3.png) center no-repeat;
        background-size:cover;
        overflow-x: hidden;

    }
    
    #pageName{
        grid-column: 3/6;
        grid-row:1/4;
        width:100px;
        height:88px;
        transform: skew(-31deg);
        //background:#fbcf1e;
        //border:3px solid #fbcf1e;
    }
    
    #pageName{
    color:#fbcf1e;
    margin-top:30px;
        font-size: 45px;
    }
    .eventsDiv{
        width:80px;
        height:48px;
        transform: skew(-31deg) !important;
        //background:#fbcf1e;
        border:2px solid #fbcf1e;
    }
    
    #footballDiv{
        grid-row:3/5;
        grid-column: 2/3;
    }
    
    #basketBallDiv{
        grid-column: 4/6;
        grid-row:3/5;
        margin-left: -65px;
    }
    
    
    #cricketDiv{
        grid-column:2/4;
        grid-row:4/6;
        margin-top: -20px;
    }
    
    #badmintonDiv{
        grid-column:4/6;
        grid-row:4/6;
        margin-top: -20px;
        margin-left:-65px;
    }
    
    #volleyballDiv{
        grid-column:2/4;
        grid-row:5/7;
        margin-top:-39px;
    }
    
    #chessDiv{
        grid-column:4/6;
        grid-row:5/7;
        margin-top:-39px;
        margin-left:-65px;
    }
    
    #tabletennisDiv{
        width:150px;
        grid-column: 2/6;
        grid-row:7/9;
        margin-top:-137px;
    

    }
    
    
      .topleftMenu {
    top:34px;
    left:34px;
    position:fixed;
   display:block;
    width:35px;
    height:35px;
    background-color:transparent;
    border-radius:50%;
    z-index:20;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(252,223,103,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(252,223,103,0.75);
  box-shadow: 0px 0px 5px 0px rgba(252,223,103,0.75);
  }
  .menu1 {
    width:35px;
    height:35px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
      top:0%;
    left:0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .2s;
      
  }
  .menu2 {
    width:35px;
    height:35px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
      top:0%;
    left:0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .4s;
  }
  .menu3 {
    width:35px;
    height:35px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
      top:0%;
    left:0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .6s;  
  }
    .menu4 {
    width:35px;
    height:35px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
    top:0%;
    left: 0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .8s;  
  }

  .menu5 {
    width:35px;
    height:35px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
    top:0%;
    left: 0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) ;  
  }
  .mask2 {
    top:34px;
    left:34px;
    width:35px;
    height:35px;
    background:#fbcf1e;
    border-radius:50%;
    position:absolute;
    z-index:21;
    color: #171616;
    text-align:center;
    line-height:120px;
    cursor:pointer;
    position:fixed;
  }
   .topleftMenu .fa-3x {
        font: normal normal normal 10px/2 FontAwesome;
        font-size: 1em !important;
    }
    .topleftMenu .fa-2x {
        font: normal normal normal 10px/2 FontAwesome;
        font-size: 1em !important;
    }
    
    
}


}

  