@import url('https://fonts.googleapis.com/css?family=Oswald:300');
.loader {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ffc000;
      z-index: 999999;
      
      }
.sk-cube-grid {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 48%;
  left: 48%;
 
}


.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}


html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
font-family: 'Oswald', sans-serif;
}

a{
    text-decoration: none;
}

 .fadeInUp{
        animation-delay: 2.5s;
    }

    .fadeInUp:nth-child(2){
        animation-delay: 1.5s
    }

 .fadeInUp:nth-child(3){
        animation-delay: 2.8s
    }

.bounceInRight{
    animation-delay: 3s;
}



@media only screen and (min-width : 480px){
#landingPage{
  display : grid;
  grid-template-columns : 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows : 1fr 1fr 1fr 1fr;
  height :100%;
  width:100%;
  background:url("photos/newbgs/backround1366.png") center no-repeat;
    background-size: cover;
    overflow: hidden;
   
    
}

#logo{
    grid-row: 1/3;
grid-column: 2/5;
background: url(White_logo.png) center no-repeat;
    background-size: auto auto;
background-size: 19%;
   

}

#vajraTitle{
  grid-row: 2/4;
grid-column: 2/5;
margin-top: -119px;
background: url("vajranew.png") center no-repeat;
background-size: 40%;
}




#menuArea {
    grid-column: 3/4;
    grid-row:3/4;     
         z-index: 1;

}



.opBox{
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    //display: none;
    margin: auto;
    width:250px;
    height:40px;
    margin-top:10px;
    border:1px solid white;
        transform: skew(30deg);
    background-color: #171616;
}

.opBox p{
    text-align: center;
    color:white;
    margin-top:2px;
    font-size:25px;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: skew(-30deg);
}

.opBox:hover{
    background: #fbcf1e;

}

.opBox p:hover{
    color:black;
}


#socialMedia{
    grid-row:4/5;
    grid-column:5/6;
    display:grid;
    grid-template-rows:1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    
}

#socialMedia #facebook{
         grid-row:1/2;
         grid-column: 3/4;
         margin-left:20px;
     }
     
     
#socialMedia #instagram{
          grid-row:2/3;
          grid-column: 3/4;
         margin-left:20px;
     }
     
#socialMedia #twitter{
    grid-row:3/4;
    grid-column: 3/4;
    margin-left:20px;
     }

.fa-4x{
    color:#fbcf1e;
    //font-size:1em;
}
    
    .fa-facebook-official{
        font-size:2em;
    }

@keyframes imageAnimation { 
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    8% { opacity: 1;
         animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

}


@media only screen and (min-width : 1920px){
#landingPage{
  display : grid;
  grid-template-columns : 1fr 1fr 1fr 1fr;
  grid-template-rows : 1fr 1fr 1fr 1fr;
  height :100%;
  width:100%;
  background:url("photos/newbgs/backround1920.png") center;
overflow: hidden;
}

#logo{
    grid-row: 1/3;
    grid-column: 2/4;
    background:url(White_logo.png) center no-repeat;
    background-size: 20%;
   margin-top: 100px;
}
    
    #registerButton{
        display:grid;
        grid-row:1/2;
        grid-column: 4/5;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    
    #register{
        grid-row:2/4;
        grid-column: 2/4;
       transform:skew(-31deg);
        background: #fcbf1e;
        border: 3px solid black;
    }
    
    #register p{
               transform:skew(31deg);
           font-size:40px
    }
    
    #register:hover{
        background:yellow;
    }
  
    
   
#vajraTitle{
  grid-row:1/4;
    grid-column: 2/4;
    margin-top:200px;
    background: url("vajranew.png") center no-repeat;
    background-size:40%;
  
    
    
}
    
    



 #bitLogo{
       
     grid-row:1/2;
     grid-column: 1/2;
    
     background: url(photos/players/logosForGames/Bit_logo-1.png) left no-repeat;
    background-size: 10%; 
    
    }



#menuArea {
    grid-column: 2/4;
    grid-row:3/5; 
    margin-top:100px;
   z-index: 1;
}


   

.opBox{
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    //display: none;
    margin: auto;
    width:250px;
    height:40px;
    margin-top:10px;
    border:2px solid white;
        transform: skew(30deg);
    background-color: #171616;
}

.opBox p{
    text-align: center;
    color:white;
    margin-top:2px;
    font-size:25px;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: skew(-30deg);
}

.opBox:hover{
    background: #fbcf1e;

}

.opBox p:hover{
    color:black;
}


#socialMedia{
    grid-row:5/6;
    grid-column:4/5;
    display:grid;
    grid-template-rows:1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    
}

#socialMedia #facebook{
    grid-row:1/2;
    grid-column: 3/4;
    margin-left: 70px;
   
}

#socialMedia #instagram{
    grid-row:2/3;
    grid-column:3/4;
    margin-left: 40px;

    
}

#socialMedia #twitter{
    grid-row:3/4;
    grid-column : 3/4;
    margin-left: 10px;
    
}

.fa-4x{
    color:#fbcf1e;
    //font-size:1em;
}
    
    .fa-facebook-official{
        font-size:2em;
    }


}



@media only screen and (max-width : 480px) {
 #landingPage{
   display : grid;
  grid-template-columns : 1fr 1fr 1fr 1fr;
  grid-template-rows : 1fr 1fr 1fr 1fr 1fr;
  height:100%;
  width:100%;
  background:url("photos/newbgs/mobilebackground3.png") center no-repeat;
    background-size:cover;
     overflow: hidden;
}
    #registerButton{
        display: grid;
grid-row: 1/2;
grid-column: 4/4;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr;
height: 77px;
        margin-left:19px;
    }
    
    #register{
        grid-row:2/4;
        grid-column: 2/4;
       transform:skew(-31deg);
        background: #fcbf1e;
        border: 3px solid black;
    }
    
    #register p{
              transform: skew(31deg);
font-size: 17px;
    }
     
     #logo{
    grid-row: 1/2;
    grid-column: 2/4;
    background:url(White_logo.png) center no-repeat;
    background-size: 70%;
    margin-bottom: -100px;

}
     
     #vajraTitle{
  grid-row:2/3;
    grid-column: 2/4;
    //margin-top:10px;
    background: url("vajranew.png") center no-repeat;
    background-size:110%;
    margin-bottom: -47px;
    z-index: 1;
         
}
     #menuArea {
    grid-column: 2/4;
    grid-row:3/4;     
      margin-top: 10px;
         z-index: 1;
}
     
     #AnnualSports{
    font-size: 30px;
    margin-top:-200px;
    grid-row:4/5;
    grid-column: 2/4;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    //display: none;
    margin: auto;
         color:white;
         text-align: center;
     }     
     
     .opBox{
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    //display: none;
    margin: auto;
    width:150px;
    height:40px;
    margin-top:5px;
    border:1px solid white;
        transform: skew(30deg);
    background-color: #171616;
}

.opBox p{
    text-align: center;
    color:white;
    margin-top:2px;
    font-size:20px;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: skew(-30deg);
}

.opBox:hover{
    background: #fbcf1e;

}
     
     

.opBox p:hover{
    color:black;
}
     
     #socialMedia{
         grid-row:5/7;
         grid-column: 1/2;
         display:grid;
         grid-template-columns: 1fr 1fr;
         grid-template-rows: 1fr 1fr 1fr;
         
     }
     
     #facebook{
         grid-row:1/2;
         grid-column: 1/2;
         margin-left:20px;
     }
     
     
     #instagram{
          grid-row:2/3;
         grid-column: 1/2;
        margin-left:20px;

     }
     
     .fa-4x{
    color:#fbcf1e;
}
    
    .fa{
        font-size:3em !important;
    }


}


@media only screen and (max-width : 320px) {
   
    #landingPage{
   display : grid;
  grid-template-columns : 1fr 1fr 1fr 1fr;
  grid-template-rows : 1fr 1fr 1fr 1fr 1fr;
  height:100%;
  width:100%;
  background:url("photos/newbgs/mobilebackground3.png") center no-repeat;
        background-size:cover;
}
    
        #registerButton{
        display: grid;
grid-row: 1/2;
grid-column: 4/4;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr;
height: 68px;
            margin: 0;
    }
    
    #register{
        grid-row:2/4;
        grid-column: 2/4;
       transform:skew(-31deg);
        background: #fcbf1e;
        border: 3px solid black;
    }
    
    #register p{
              transform: skew(31deg);
font-size: 17px;
    }
    
    #vajraTitle{
        background: url(vajranew.png)center no-repeat;
        background-size: 110%;
       margin-bottom: -35px;
    }
    
    #socialMedia{
  grid-row: 5/6;
  grid-column: 1/4;
    }    
    
    #menuArea{
        z-index: 1;
    }
    
    #facebook{
         grid-row:5/6;
         grid-column: 1/2;
         margin-left:8px;
     }
     
     
     #instagram{
          grid-row:5/6;
         grid-column: 2/3;
        margin-left:-55px;

     }
       
    .opBox {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    //display: none;
    margin: auto;
        margin-top: auto;
    width: 126px;
    height: 32px;
    margin-top: 5px;
    border: 1px solid white;
    transform: skew(30deg);
    background-color: #171616;
}
    
    .opBox p{

    font-size:16px;
    }
    
    .fa{
     font-size: 2em !important;   
    }



}

