.loader {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ffc000;
      z-index: 999999;
      
      }
.sk-cube-grid {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 48%;
  left: 48%;
 
}


.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}

@media only screen and (min-width:768px){
   #registerArea{
    height:100%;
    width:100%;
    background: url(photos/newbgs/DesktopHDotherPages1366.png)  center no-repeat;
       overflow: hidden;
} 
    
    iframe{
        margin-top: 70px;
        
    }
    
     #pageTitle{
        font-size:100px;
        font-family: 'Abel' , 'sans-serif';
        font-weight: 100;
         color:#fcbf1e;
    }
    
     .topleftMenu {
    top:34px;
    left:34px;
    position:fixed;
   display:block;
    width:60px;
    height:60px;
    background-color:transparent;
    border-radius:50%;
    z-index:20;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(252,223,103,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(252,223,103,0.75);
  box-shadow: 0px 0px 5px 0px rgba(252,223,103,0.75);
  }
  .menu1 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
      top:0%;
    left:0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .2s;
      
  }
  .menu2 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
      top:0%;
    left:0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .4s;
  }
  .menu3 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
      top:0%;
    left:0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .6s;  
  }
    .menu4 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
    top:0%;
    left: 0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .8s;  
  }

  .menu5 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
    top:0%;
    left: 0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) ;  
  }
  .mask2 {
    top:34px;
    left:34px;
    width:60px;
    height:60px;
    background:#fbcf1e;
    border-radius:50%;
    position:absolute;
    z-index:21;
    color: #171616;
    text-align:center;
    line-height:120px;
    cursor:pointer;
    position:fixed;
  }
   .topleftMenu .fa-3x {
        font: normal normal normal 14px/2 FontAwesome;
        font-size: 2em;
    }
    .topleftMenu .fa-2x {
        font: normal normal normal 14px/2 FontAwesome;
        font-size: 2em;
    }

    
}

@media only screen and (min-width:1920px){
   #registerArea{
    height:100%;
    width:100%;
    background: url(photos/newbgs/DesktopHDotherPages.png) center no-repeat;
              overflow: hidden;

} 
    
    iframe{
        margin-top: 150px;
        
    }
    ::-webkit-scrollbar { 
    display: none; 
}

    #pageTitle{
        font-size:100px;
        font-family: 'Abel' , 'sans-serif';
        font-weight: 100;
         color:#fcbf1e;
    }
    
    .topleftMenu {
    top:34px;
    left:34px;
    position:fixed;
   display:block;
    width:60px;
    height:60px;
    background-color:transparent;
    border-radius:50%;
    z-index:20;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(252,223,103,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(252,223,103,0.75);
  box-shadow: 0px 0px 5px 0px rgba(252,223,103,0.75);
  }
  .menu1 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
      top:0%;
    left:0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .2s;
      
  }
  .menu2 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
      top:0%;
    left:0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .4s;
  }
  .menu3 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
      top:0%;
    left:0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .6s;  
  }
    .menu4 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
    top:0%;
    left: 0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .8s;  
  }

  .menu5 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
    top:0%;
    left: 0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) ;  
  }
  .mask2 {
    top:34px;
    left:34px;
    width:60px;
    height:60px;
    background:#fbcf1e;
    border-radius:50%;
    position:absolute;
    z-index:21;
    color: #171616;
    text-align:center;
    line-height:120px;
    cursor:pointer;
    position:fixed;
  }
   .topleftMenu .fa-3x {
        font: normal normal normal 14px/2 FontAwesome;
        font-size: 2em;
    }
    .topleftMenu .fa-2x {
        font: normal normal normal 14px/2 FontAwesome;
        font-size: 2em;
    }

}

@media only screen and (max-width:768px){
   
    #registerArea{
    height:100%;
    width:100%;
    background: #171616;
        overflow: hidden;
       
} 
    
    iframe{
        margin-top: 70px;
        
    }
    
     #pageTitle{
        font-size:40px;
        //font-family: 'Abel' , 'sans-serif';
        font-weight: 100;
         color:#fcbf1e;
         transform: skew(-31deg);
    }
    
     .topleftMenu {
    top:34px;
    left:34px;
    position:fixed;
   display:block;
    width:60px;
    height:60px;
    background-color:transparent;
    border-radius:50%;
    z-index:20;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(252,223,103,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(252,223,103,0.75);
  box-shadow: 0px 0px 5px 0px rgba(252,223,103,0.75);
  }
  .menu1 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
      top:0%;
    left:0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .2s;
      
  }
  .menu2 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
      top:0%;
    left:0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .4s;
  }
  .menu3 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
      top:0%;
    left:0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .6s;  
  }
    .menu4 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
    top:0%;
    left: 0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .8s;  
  }

  .menu5 {
    width:60px;
    height:60px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
    top:0%;
    left: 0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) ;  
  }
  .mask2 {
    top:34px;
    left:34px;
    width:60px;
    height:60px;
    background:#fbcf1e;
    border-radius:50%;
    position:absolute;
    z-index:21;
    color: #171616;
    text-align:center;
    line-height:120px;
    cursor:pointer;
    position:fixed;
  }
   .topleftMenu .fa-3x {
        font: normal normal normal 12px/2 FontAwesome;
        font-size: 2em !important;
    }
    .topleftMenu .fa-2x {
        font: normal normal normal 12px/2 FontAwesome;
        font-size: 2em !important;
    }
    
    
}

@media only screen and (max-width:360px){
    
    #registerArea{
    height:100%;
    width:100%;
   background: #171616;
        overflow: hidden;
} 
    
    iframe{
        margin-top: 40px;
        
    }
    
     #pageTitle{
        font-size:40px;
        //font-family: 'Abel' , 'sans-serif';
        font-weight: 100;
         color:#fcbf1e;
     transform: skew(-31deg);

    }
    
    .topleftMenu {
    top:34px;
    left:34px;
    position:fixed;
   display:block;
    width:45px;
    height:45px;
    background-color:transparent;
    border-radius:50%;
    z-index:20;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(252,223,103,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(252,223,103,0.75);
  box-shadow: 0px 0px 5px 0px rgba(252,223,103,0.75);
  }
  .menu1 {
    width:45px;
    height:45px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
      top:0%;
    left:0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .2s;
      
  }
  .menu2 {
    width:45px;
    height:45px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
      top:0%;
    left:0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .4s;
  }
  .menu3 {
    width:45px;
    height:45px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
      top:0%;
    left:0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .6s;  
  }
    .menu4 {
    width:45px;
    height:45px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
    top:0%;
    left: 0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .8s;  
  }

  .menu5 {
    width:45px;
    height:45px;
    background-color:#fbcf1e;
    border-radius:50%;
    position:absolute;
    color:#171616;
    text-align:center;
    line-height:70px;
    top:0%;
    left: 0%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) ;  
  }
  .mask2 {
    top:34px;
    left:34px;
    width:45px;
    height:45px;
    background:#fbcf1e;
    border-radius:50%;
    position:absolute;
    z-index:21;
    color: #171616;
    text-align:center;
    line-height:120px;
    cursor:pointer;
    position:fixed;
  }
   .topleftMenu .fa-3x {
        font: normal normal normal 12px/2 FontAwesome;
        font-size: 23px !important;
    }
    .topleftMenu .fa-2x {
        font: normal normal normal 12px/2 FontAwesome;
        font-size: 23px !important;
    }  
    
}
