@import url(https://fonts.googleapis.com/css?family=Oswald:300);
.loader {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ffc000;
z-index: 999999;
}
.sk-cube-grid {
width: 40px;
height: 40px;
position: absolute;
top: 48%;
left: 48%}
.sk-cube-grid .sk-cube {
width: 33%;
height: 33%;
background-color: #333;
float: left;
-webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
-webkit-animation-delay: .2s;
animation-delay: .2s;
}
.sk-cube-grid .sk-cube2 {
-webkit-animation-delay: .3s;
animation-delay: .3s;
}
.sk-cube-grid .sk-cube3 {
-webkit-animation-delay: .4s;
animation-delay: .4s;
}
.sk-cube-grid .sk-cube4 {
-webkit-animation-delay: .1s;
animation-delay: .1s;
}
.sk-cube-grid .sk-cube5 {
-webkit-animation-delay: .2s;
animation-delay: .2s;
}
.sk-cube-grid .sk-cube6 {
-webkit-animation-delay: .3s;
animation-delay: .3s;
}
.sk-cube-grid .sk-cube7 {
-webkit-animation-delay: 0s;
animation-delay: 0s;
}
.sk-cube-grid .sk-cube8 {
-webkit-animation-delay: .1s;
animation-delay: .1s;
}
.sk-cube-grid .sk-cube9 {
-webkit-animation-delay: .2s;
animation-delay: .2s;
}
@-webkit-keyframes sk-cubeGridScaleDelay {
0%, 100%, 70% {
-webkit-transform: scale3D(1, 1, 1);
transform: scale3D(1, 1, 1);
}
35% {
-webkit-transform: scale3D(0, 0, 1);
transform: scale3D(0, 0, 1);
}
}@keyframes sk-cubeGridScaleDelay {
0%, 100%, 70% {
-webkit-transform: scale3D(1, 1, 1);
transform: scale3D(1, 1, 1);
}
35% {
-webkit-transform: scale3D(0, 0, 1);
transform: scale3D(0, 0, 1);
}
}abbr, address, article, aside, audio, b, blockquote, body, body div, caption, cite, code, dd, del, dfn, dl, dt, em, fieldset, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: 0 0;
font-family: Oswald, sans-serif;
}
#bitlogo {
    display: none;
}
a {
text-decoration: none;
}
.fadeInUp {
animation-delay: 2.5s;
}
.fadeInUp:nth-child(2) {
animation-delay: 1.5s;
}
.fadeInUp:nth-child(3) {
animation-delay: 2.8s;
}
.bounceInRight {
animation-delay: 3s;
}
.bounceInLeft {
animation-delay: 2.5s;
}

.no-webp #landingPage, .webp #landingPage {

height: 100%;
width: 100%;
overflow: hidden;
}

/*.webp #landingPage {
background: url(../photos/newbgs/backgroundwithLogo1366webP.webp) center no-repeat;
background-size: cover;
}*/
 #landingPage {
background: url(../backuppngs/newBgspng/backgroundwithLogo1366.png) center no-repeat;
background-size: cover;
}
#registerButton {
height: 105px;
}
#sponsorButton {
    height: 105px;
    }
#register {
transform: skew(-31deg);
background: #fcbf1e;
border: 3px solid #000;
}
#registerButton {
    position: absolute;
    top: 15px;
    right: 150px;
}
#sponsorButton {
    position: absolute;
    top: 15px;
    right: 22px;
}
#register p {
transform: skew(31deg);
font-size: 23px;
}
#register:hover {
background: #ff0;
}
#pagecenter {
    text-align: center;
    margin-top: 4%;
}
#logo img{
    height: 20%;
}
#vajraTitle img {
    height: 22%;
    margin-top: -25px;
}
#menuArea {
    margin-top: 20px;
    z-index: 1;
}
#menuArea a{
    margin-top: 10px;
}
.opBox {
margin-top: 10px;
width: 250px;
height: 40px;
border: 1px solid #fff;
transform: skew(30deg);
background-color: #171616;
}
.opBox p {
text-align: center;
color: #fff;
margin-top: 2px;
font-size: 25px;
transform: skew(-30deg);
}
.opBox:hover {
background: #fbcf1e;
}
.opBox p:hover {
color: #000;
}

#sportsTagline {
    
    margin-top: 25px;    
    text-align: center;
    font-size: 38px;
    color: #fcbf1e;
    }
    
#socialMedia {
    position: absolute;
    bottom: 5px;
    right: 15px;

}
#socialMedia #facebook {

margin-left: 20px;
}

.fa-4x {
color: #fbcf1e;
}
@keyframes imageAnimation {
0% {
opacity: 0;
animation-timing-function: ease-in;
}
8% {
opacity: 1;
animation-timing-function: ease-out;
}
17% {
opacity: 1;
}
100%, 25% {
opacity: 0;
}
}
@media only screen and (min-width:1920px) {
    .no-webp #landingPage, .webp #landingPage {
    
    height: 100%;
    width: 100%;
    overflow: hidden;
    }
    
    .webp #landingPage {
    background: url(../photos/newbgs/backgroundwithLogo1920webp.webp) center no-repeat;
    background-size: cover;
    }
    .no-webp #landingPage {
    background: url(../backuppngs/newBgspng/backgroundwithLogo1920.png) center no-repeat;
    background-size: cover;
    }
   
    }
@media only screen and (max-width:768px) {

    #socialMedia {
        position: absolute;
        left: 10px;
        bottom: 10px;
    }
    #socialMedia #facebook {
        margin-left: 0px;
    }
    #registerButton {
        right: 25px;
    }
    #sponsorButton {
        right: 25px;
    }
}
@media only screen and (max-width:360px) {
    
.webp #landingPage {
background: url(../photos/newbgs/mobilebackground3webp.webp) center no-repeat;
background-size: cover;
}
.no-webp #landingPage {
background: url(../photos/newbgs/index320.png) center no-repeat;
background-size: cover;
}
#pagecenter {
    margin-top: 18%;
}
#bitlogo {
    display: inline;
}
#bitlogo img{
    height: 15%; 
}
#logo {
    display: inline;
}
#logo img {
    height: 15%;
}
#vajraTitle img {
    height: 18%;
    margin-top: -15px;
}
.opBox {
    width: 50%;
    height: 34px;
}
#sportsTagline {
    font-size: 28px;
}
#registerButton {
    right: 15px;
}
#sponsorButton {
    right: 15px;
}
#register p {
    font-size: 15px;
}
.opBox p {
font-size: 16px;
}
.fa {
font-size: 2em!important;
}
}