.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffc000;
    z-index: 999999;
}
.sk-cube-grid {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 48%;
    left: 48%}
.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #333;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
}
.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}
.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}
.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
}
.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
}
.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}
.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
}
.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
}
@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 100%, 70% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
}
35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
}
}@keyframes sk-cubeGridScaleDelay {
    0%, 100%, 70% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
}
35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
}
}@media only screen and (min-width:768px) {
    .mask2, .menu1, .menu2, .menu3, .menu4, .menu5, .menu6 {
        border-radius: 50%;
        color: #171616;
        text-align: center;
    }
    #registerArea {
    height: 100%;
    width: 100%;
    background: url(../photos/newbgs/DesktopHDotherPages1366webp.webp) center no-repeat;
    overflow: hidden;
}
iframe {
    margin-top: 70px;
}
#pageTitle {
    font-size: 100px;
    font-family: Abel, sans-serif;
    font-weight: 100;
    color: #fcbf1e;
}
.topLeftMenu {
    top: 34px;
    left: 34px;
    position: fixed;
    display: block;
    width: 60px;
    height: 60px;
    background-color: transparent;
    z-index: 20;
    -webkit-box-shadow: 0 0 5px 0 rgba(252, 223, 103, .75);
    -moz-box-shadow: 0 0 5px 0 rgba(252, 223, 103, .75);
    box-shadow: 0 0 5px 0 rgba(252, 223, 103, .75);
    border-radius: 50%}
.menu1, .menu2, .menu3, .menu4, .menu5, .menu6 {
    background-color: #fbcf1e;
    position: absolute;
    line-height: 70px;
    top: 0;
    left: 0;
    z-index: 19;
    width: 57px;
    height: 56px;
}
.menu1 {
    transition: all .5s cubic-bezier(.68, -.55, .265, 1.55) .2s;
}
.menu2 {
    transition: all .5s cubic-bezier(.68, -.55, .265, 1.55) .4s;
}
.menu3 {
    transition: all .5s cubic-bezier(.68, -.55, .265, 1.55) .6s;
}
.menu4 {
    transition: all .5s cubic-bezier(.68, -.55, .265, 1.55) 1s;
}
.menu5 {
    transition: all .5s cubic-bezier(.68, -.55, .265, 1.55) 1.1s;
}
.menu6 {
    transition: all .5s cubic-bezier(.68, -.55, .265, 1.55) .8s;
}
.mask2 {
    top: 34px;
    left: 34px;
    width: 60px;
    height: 60px;
    background: #fbcf1e;
    z-index: 21;
    line-height: 120px;
    cursor: pointer;
    position: fixed;
}
.topLeftMenu .fa-2x, .topLeftMenu .fa-3x {
    font: normal normal normal 14px/2 FontAwesome;
    font-size: 2em;
}
}@media only screen and (min-width:1920px) {
    .mask2, .menu1, .menu2, .menu3, .menu4, .menu5, .menu6 {
        border-radius: 50%;
        color: #171616;
        text-align: center;
    }
    .mask2, h1 {
        text-align: center;
    }
    #registerArea {
    height: 100%;
    width: 100%;
    background: url(../photos/newbgs/DesktopHDotherPageswebp.webp) center no-repeat;
    overflow: hidden;
}
iframe {
    margin-top: 150px;
}
::-webkit-scrollbar {
    display: none;
}
#pageTitle {
    font-size: 100px;
    font-family: Abel, sans-serif;
    font-weight: 100;
    color: #fcbf1e;
}
.topLeftMenu {
    top: 34px;
    left: 34px;
    position: fixed;
    display: block;
    width: 60px;
    height: 60px;
    background-color: transparent;
    z-index: 20;
    -webkit-box-shadow: 0 0 5px 0 rgba(252, 223, 103, .75);
    -moz-box-shadow: 0 0 5px 0 rgba(252, 223, 103, .75);
    box-shadow: 0 0 5px 0 rgba(252, 223, 103, .75);
    border-radius: 50%}
.front, .mask2 {
    background: #fbcf1e;
}
.menu1, .menu2, .menu3, .menu4, .menu5, .menu6 {
    background-color: #fbcf1e;
    position: absolute;
    line-height: 70px;
    top: 0;
    left: 0;
    z-index: 19;
    width: 57px;
    height: 56px;
}
.menu1 {
    transition: all .5s cubic-bezier(.68, -.55, .265, 1.55) .2s;
}
.menu2 {
    transition: all .5s cubic-bezier(.68, -.55, .265, 1.55) .4s;
}
.menu3 {
    transition: all .5s cubic-bezier(.68, -.55, .265, 1.55) .6s;
}
.menu5 {
    transition: all .5s cubic-bezier(.68, -.55, .265, 1.55) 1.1s;
}
.menu4 {
    transition: all .5s cubic-bezier(.68, -.55, .265, 1.55) .8s;
}
.mask2 {
    top: 34px;
    left: 34px;
    width: 60px;
    height: 60px;
    z-index: 21;
    line-height: 120px;
    cursor: pointer;
    position: fixed;
}
.topLeftMenu .fa-2x, .topLeftMenu .fa-3x {
    font: normal normal normal 14px/2 FontAwesome;
    font-size: 2em;
}
}@media only screen and (max-width:768px) {
    .mask2, .menu1, .menu2, .menu3, .menu4, .menu5, .menu6 {
    border-radius: 50%;
    color: #171616;
    text-align: center;
}

    #registerArea {
    height: 100%;
    width: 100%;
    background: #171616;
    overflow: hidden;
}
iframe {
    margin-top: 70px;
}
#pageTitle {
    font-size: 40px;
    //font-family: 'Abel', 'sans-serif';
    font-weight: 100;
    color: #fcbf1e;
    transform: skew(-31deg);
}
.topleftMenu {
    top: 34px;
    left: 34px;
    position: fixed;
    display: block;
    width: 60px;
    height: 60px;
    background-color: transparent;
    z-index: 20;
    -webkit-box-shadow: 0 0 5px 0 rgba(252, 223, 103, .75);
    -moz-box-shadow: 0 0 5px 0 rgba(252, 223, 103, .75);
    box-shadow: 0 0 5px 0 rgba(252, 223, 103, .75);
    border-radius: 50%}
.menu1, .menu2, .menu3, .menu4, .menu5, .menu6 {
    background-color: #fbcf1e;
    position: absolute;
    line-height: 70px;
    top: 0;
    left: 0;
    z-index: 19;
    width: 57px;
    height: 56px;
}
.menu1 {
    transition: all .5s cubic-bezier(.68, -.55, .265, 1.55) .2s;
}
.menu2 {
    transition: all .5s cubic-bezier(.68, -.55, .265, 1.55) .4s;
}
.menu3 {
    transition: all .5s cubic-bezier(.68, -.55, .265, 1.55) .6s;
}
.menu4 {
    transition: all .5s cubic-bezier(.68, -.55, .265, 1.55) .8s;
}
.menu5 {
    transition: all .5s cubic-bezier(.68, -.55, .265, 1.55);
}
.mask2 {
    top: 34px;
    left: 34px;
    width: 60px;
    height: 60px;
    background: #fbcf1e;
    z-index: 21;
    line-height: 120px;
    cursor: pointer;
    position: fixed;
}
.topleftMenu .fa-2x, .topleftMenu .fa-3x {
    font: normal normal normal 12px/2 FontAwesome;
    font-size: 2em!important;
}
}@media only screen and (max-width:360px) {
    .mask2, .menu1, .menu2, .menu3, .menu4, .menu5, .menu6 {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        color: #171616;
        text-align: center;
    }
    #registerArea {
    height: 100%;
    width: 100%;
    background: #171616;
    overflow: hidden;
}
iframe {
    margin-top: 40px;
}
#pageTitle {
    font-size: 40px;
    //font-family: 'Abel', 'sans-serif';
    font-weight: 100;
    color: #fcbf1e;
    transform: skew(-31deg);
}
.topleftMenu {
    top: 34px;
    left: 34px;
    position: fixed;
    display: block;
    width: 45px;
    height: 45px;
    background-color: transparent;
    z-index: 20;
    -webkit-box-shadow: 0 0 5px 0 rgba(252, 223, 103, .75);
    -moz-box-shadow: 0 0 5px 0 rgba(252, 223, 103, .75);
    box-shadow: 0 0 5px 0 rgba(252, 223, 103, .75);
    border-radius: 50%}
.menu1, .menu2, .menu3, .menu4, .menu5, .menu6 {
    background-color: #fbcf1e;
    position: absolute;
    line-height: 70px;
    top: 0;
    left: 0;
    z-index: 19;
}
.menu1 {
    transition: all .5s cubic-bezier(.68, -.55, .265, 1.55) .2s;
}
.menu2 {
    transition: all .5s cubic-bezier(.68, -.55, .265, 1.55) .4s;
}
.menu3 {
    transition: all .5s cubic-bezier(.68, -.55, .265, 1.55) .6s;
}
.menu4 {
    transition: all .5s cubic-bezier(.68, -.55, .265, 1.55) 1s;
}
.menu5 {
    transition: all .5s cubic-bezier(.68, -.55, .265, 1.55) 1.1s;
}
.menu6 {
    transition: all .5s cubic-bezier(.68, -.55, .265, 1.55) .8s;
}
.mask2 {
    top: 34px;
    left: 34px;
    background: #fbcf1e;
    z-index: 21;
    line-height: 120px;
    cursor: pointer;
    position: fixed;
}
.topleftMenu .fa-2x, .topleftMenu .fa-3x {
    font: normal normal normal 12px/2 FontAwesome;
    font-size: 23px!important;
}
}